@import "../global-style";

.file-con {
  border: 1px solid #dadce0;
  display: flex;
  margin: 10px;
  border-radius: 10px;
  width: 350px;
  z-index: 0;
  position: relative;
}
.file-con .img {
  display: block;
  position: relative;
  z-index: -1;
}

.post-con {
  // border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 20px;
  margin: 20px 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.post-con a {
  color: black;
}
